/*#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #009688;
    position: fixed;
    top: 0;
    width: 0;
}*/

li {
    float: left;
}

}
.header-cont {
    width: 100%;
    position: fixed;
    top: 0px;
}

.header {
    height: 50px;
    background: #F0F0F0;
    border:1px solid #CCC;
    width:960px;
    margin:0px auto;
}


.onethirdbox {
  float: left;
  width: 35% ;
}

.twothirdsbox {
  float: right;
  width: 65%;
}

.footer {
  float: center;  
}
